<div class="barra-fija">
  <div title="Clientes" routerLink="/listado-clientes">
    <i class="fas fa-address-book"></i>
  </div>
  <div title="Presupuestos" routerLink="/listado-presupuesto">
    <i class="far fa-money-bill-alt"></i>
  </div>
</div>
<div class="col-md-12">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/inicio">Inicio</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/ventas">Ventas</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/listado-clientes">Clientes</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Añadir clientes</li>
    </ol>
  </nav>
</div>
<div class="col-md-12 titulo">
  <span>Añadir nuevo cliente</span>
  <button class="btn btn-primary" routerLink="/listado-clientes">
    Volver
  </button>
</div>
<div class="col-md-8 offset-md-2 col-12">
  <div class="formulario">
    <form [formGroup]="clienteForm" (ngSubmit)="crearClient()">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" formControlName="cif" placeholder="CIF" #cif>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" formControlName="domicilio" placeholder="Domicilio">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" formControlName="cp" placeholder="Código Postal">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" formControlName="localidad" placeholder="Localidad">
      </div>
      <div class="form-group">
        <select class="form-control" formControlName="provincia">
          <option *ngFor="let provincia of provincias" [value]="provincia">{{provincia}}</option>
        </select>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" formControlName="telefono" placeholder="Teléfono">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" formControlName="email" placeholder="e-mail">
      </div>
      <div class="form-group">
        <input type="texto" class="form-control" formControlName="contacto" placeholder="Contacto">
      </div>
      <button type="submit" class="btn btn-primary">
        <span *ngIf="!enviando">Añadir Cliente</span>
        <span *ngIf="enviando">
          <i class="fas fa-spinner fa-pulse"></i>
        </span>
      </button>
      <button routerLink="/listado-clientes" class="btn btn-primary" class="btn btn-danger">
        Cancelar
      </button>
    </form>
    <p class="alert alert-warning" [@alerta]="estadoAlerta">{{mensaje}}</p>
  </div>
</div>