<div class="barra-fija">
  <div title="proveedores" routerLink="/listado-proveedores">
    <i class="fas fa-address-book"></i>
  </div>
  <div title="facturas" routerLink="/listado-factura">
    <i class="far fa-money-bill-alt"></i>
  </div>
</div>
<div class="col-md-12">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <!-- Ponemos la ruta a inicio -->
      <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">Compras</li>
    </ol>
  </nav>
</div>
<div class="col-md-12 titulo">
  <span>Dashboard</span>
</div>