<div class="col-md-12">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/inicio">Inicio</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/compras">Compras</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/listado-facturas">Facturas</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Editar facturas</li>
    </ol>
  </nav>
</div>
<div class="col-md-12 titulo">
  <span>Editar Factura</span>
  <button class="btn btn-primary" routerLink="/listado-factura">
    Volver
  </button>
</div>
<div class="col-md-8 offset-md-2 col-12">
  <div class="formulario">
    <form [formGroup]="facturaForm" (ngSubmit)="editarFact()">
      <div class="row">
        <div class="col-md-6">
          <label for="nombre">Proveedor</label>
          <span *ngIf="facturaForm.controls.nombre.valid && facturaForm.controls.nombre.dirty">
            <i class="fas fa-check-circle verde"></i>
          </span>
          <span class="carmesi" *ngIf="facturaForm.controls.nombre.invalid && facturaForm.controls.nombre.touched">
            <i class="fas fa-times-circle"></i>
            El campo es obligatorio
          </span>
          <input type="text" class="form-control" formControlName="nombre" autofocus #nombre [ngModel]="factura.nombre">
        </div>
        <div class="col-md-6">
          <label for="cif">CIF</label>
          <span *ngIf="facturaForm.controls.cif.valid && facturaForm.controls.cif.dirty && cif">
            <i class="fas fa-check-circle verde"></i>
          </span>
          <span class="carmesi" *ngIf="facturaForm.controls.cif.invalid && facturaForm.controls.cif.touched && !facturaForm.value.cif">
            <i class="fas fa-times-circle"></i>
            El campo es obligatorio
          </span>
          <span class="carmesi" *ngIf="facturaForm.controls.cif.invalid && facturaForm.controls.cif.dirty && facturaForm.value.cif && cif">
            <i class="fas fa-times-circle"></i>
            El campo debe tener 9 caracteres
          </span>
          <span class="carmesi" *ngIf="!cif && facturaForm.controls.cif.dirty && facturaForm.value.cif">
            <i class="fas fa-times-circle"></i>
            El CIF debe comenzar por A o B
          </span>
          <input type="text" class="form-control" formControlName="cif" [ngModel]="factura.cif">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="fecha">Fecha Factura</label>
          <input type="date" class="form-control" formControlName="fecha" [ngModel]="factura.fecha">
        </div>
        <div class="col-md-8">
          <label for="concepto">Concepto</label>
          <input type="text" class="form-control" formControlName="concepto" [ngModel]="factura.concepto">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="base">Base Imponible</label>
          <span *ngIf="facturaForm.controls.base.valid && facturaForm.controls.base.dirty">
            <i class="fas fa-check-circle verde"></i>
          </span>
          <span class="carmesi" *ngIf="facturaForm.controls.base.invalid && facturaForm.controls.base.touched && !base">
            <i class="fas fa-times-circle"></i>
            El campo es obligatorio
          </span>
          <span class="carmesi" *ngIf="facturaForm.controls.base.invalid && facturaForm.controls.base.dirty && base">
            <i class="fas fa-times-circle"></i>
            No puede superar 100000 Euros
          </span>
          <input type="number" class="form-control" formControlName="base" [ngModel]="factura.base">
        </div>
        <div class="col-md-4 radiobotones">
          <div class="form-check">
            <input class="form-check-input" type="radio" [value]=true formControlName="retencion" [ngModel]="factura.retencion">
            <label class="form-check-label">
              Con Retención IRPF
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" [value]=false formControlName="retencion" [ngModel]="factura.retencion">
            <label class="form-check-label">
              Sin Retención IRPF
            </label>
          </div>
        </div>
        <div class="col-md-4">
          <label for="tipo">% IVA</label>
          <select class="form-control" formControlName="tipo" [ngModel]="factura.tipo">
            <option value=0>0 %</option>
            <option value=0.04>4 %</option>
            <option value=0.10>10 %</option>
            <option value=0.21>21 %</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" *ngIf="!retencion"></div>
        <div class="col-md-4" *ngIf="retencion">
          <label for="irpf">Retención IRPF</label>
          <input type="text" class="form-control" formControlName="irpf" [(ngModel)]="facturaForm.value.irpf" readonly>
        </div>
        <div class="col-md-4">
          <label for="importe">Importe IVA</label>
          <input type="text" class="form-control" formControlName="importe" [(ngModel)]="facturaForm.value.importe" readonly>
        </div>
        <div class="col-md-4">
          <label for="total">Total Factura IVA Incluido</label>
          <input type="text" class="form-control" formControlName="total" [(ngModel)]="facturaForm.value.total" readonly>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary" [disabled]="facturaForm.invalid">
            Registrar Factura
          </button>
          <button routerLink="/listado-factura" class="btn btn-primary" class="btn btn-danger">
            Cancelar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>