.menu-inicio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    width: 300px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    cursor: pointer;
    transition: 500ms all;
}

.rojo {background-color: #d9534f;}
.rojo:hover {background-color: #e45954;}
.rojo span {color: #c54b47;}

.verde {background-color: #5cb85c;}
.verde:hover {background-color: #60c360;}
.verde span {color: #509e50;}

.azul {background-color: #428bca;}
.azul:hover {background-color: #4896da;}
.azul span {color: #3a7ab3;}

.box span {
    font-size: 80px;
}

.box p {
    color: white;
    font-size: 26px;
}

.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.titulo span {
    font-size: 20px;
}

.formulario {
    padding: 20px 20px 40px;    
}

.formulario {
    border: 1px solid grey;
    box-shadow: 3px 3px 3px grey;
    padding: 20px;
    margin: 20px;
}

.row {
    margin-top: 10px;
}

.radiobotones {
    padding-top: 26px;
}

.verde {
    color: green;
}

.carmesi {
    color: crimson;
}

.tabla-facturas th:nth-child(1), .tabla-facturas td:nth-child(1) {
    width: 40%;
}

.tabla-facturas th:nth-child(2), .tabla-facturas td:nth-child(2) {
    width: 25%;
}

.tabla-facturas th:nth-child(3), .tabla-facturas td:nth-child(3) {
    text-align: right;
    width: 15%;
}

.tabla-facturas th:nth-child(4), .tabla-facturas td:nth-child(4) {
    text-align: center;
    width: 20%;
}

.barra-fija {
    width: 100px;
    height: calc(100vh - 56px);
    background-color: rgb(70, 70, 70);
    position: fixed;
    top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barra-fija div {
    color: rgb(194, 194, 194);
    font-size: 50px;
    transition: color 500ms ease-in-out;
}

.barra-fija div:hover {
    color: rgb(233, 233, 233);
    font-size: 50px;
    cursor: pointer;
}

.barra-fija div:first-child {
    margin-top: 10px;
}

.col-md-12 {
    width: calc(100% - 100px);
    margin-left: 100px;
}

.breadcrumb {
    margin-top: 80px;
}